
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@*<link href="~/Content/NguoiDungLayoutCss/about.css" rel="stylesheet" />*@
<div style="height: 50px; color: rgb(246 235 227);">

</div>
<div class="about-section">
    <div class="inner-width">
        <h1>About Trà sữa </h1>
        <img src="~/anh/OIP.jpg" style="width :300px; height :200px;
        <div class="border"></div>
        <div class="about-section-row">
            <div class="about-section-col">
                <div class="about">
                    <p>
                        Trà sữa là loại thức uống đa dạng được tìm thấy ở nhiều nền văn hóa,
                        bao gồm một vài cách kết hợp giữa trà và sữa. Các loại thức uống khác nhau tùy thuộc vào lượng thành phần chính
                        của mỗi loại, phương pháp pha chế, và các thành phần khác được thêm vào (thay đổi từ đường hoặc mật ong thành muối hoặc bạch đậu khấu). Bột trà sữa pha sẵn là một sản phẩm được sản xuất hàng loạt được làm từ sữa bò,trâu,ngữa.
                        ----------------------------------------------------
                        Đến với Boba Dopa khách hàng sẽ được chọn lựa những sản phẩm chất luộng đến từ những
                        cửa hàng nổi tiếng trên Việt Nam.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="about-section-col">
                <div class="skills">
                    <div class="skill">
                        <div class="title">Chất lượng</div>
                        <div class="progress">
                            <div class="progress-bar p1"><span>90%</span></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="title">Đa dạng</div>
                        <div class="progress">
                            <div class="progress-bar p2"><span>70%</span></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="title">Số lượng</div>
                        <div class="progress">
                            <div class="progress-bar p3"><span>50%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px; color: rgb(246 235 227);">

    </div>
</div>


