@model IEnumerable<WebTraSua.Models.Thuonghieu>
<h1 class="my-4" style="color: rebeccapurple; font-weight: bold; font-weight: 300; ">Thương hiệu Trà sữa</h1>
<div class="list-group" style="font-size: 16px; font-weight: 600;">
    @foreach (var item in Model)
    {
    <a href="@Url.Action("TSTheoThuongHieu","ChuDe", new {id =item.MaTH})" class="list-group-item">
        @item.TenTH
    </a>
       
    }
</div>

